 

/************ TABLE OF CONTENTS ***************

1.  Global Settings
2.  Hader Page Area
3.  Main Menu area
4.  Slider Area
5.  Search area
6.  Room Section area
7.  Hotel service area
8.  Counter up area
9.  Hotel Extra Service area
12. Video Section area
12. Testimonial area start
13. Blog Area
14. Footer Area 
15. Room List view area
16. Room Details area
17. About Us area start
18. Blog Details area
19. Checkout area
20. Scroll to top

/* use font link */



@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,400i,700,700i,900,900i');


/* use style sheet */

@import url(../css/font-awesome.css);
@import url(../css/flaticon.css);
/*@import url(../css/bootstrap.css);*/
@import url(../css/jquery.fancybox.css);
@import url(../css/animate.css);
@import url(../css/jquery-ui.css);



/*** 

====================================================================
  Reset
====================================================================

 ***/
* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}


/*** 

====================================================================
  Global Settings
====================================================================

 ***/


body {
  font-size:16px;
  color:#9b9fa6;
  line-height:30px;
  font-weight:400;
  background:#ffffff;
  font-family: 'Open Sans', sans-serif;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center top;
  -webkit-font-smoothing: antialiased;
}

  @media (min-width:1200px) {
  .container {
    max-width: 1170px;
    padding: 0px;
  }
}

.container-fluid{
  padding: 0px;
}

a{
  text-decoration:none;
  position: relative;
  font-size: 17px;
  font-family: 'Open Sans',sans-serif;
  line-height: 24px;
  font-weight: 400;
  cursor:pointer;
  color:#9b9fa6;
  transition: all 500ms ease;
}

a:hover{
  text-decoration:none;
  outline:none;
  color: #cda274;
}

input,button,select,textarea{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

ul,li{
  list-style:none;
  padding:0px;
  margin:0px; 
}

input{
  transition: all 500ms ease;
}
button:focus,
input:focus,
textarea:focus{
  outline: none;
  box-shadow: none;
  transition: all 500ms ease;
}

p{
  position: relative;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  font-weight: 400;
  color: #9b9fa6;
  margin-bottom: 10px;
  font-style: normal;
  transition: all 500ms ease;
}

h1,h2,h3,h4,h5,h6 {
  position:relative;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-bottom: 0px;
  color: #0f3a4a;
  transition: all 500ms ease;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  position:relative;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  margin-bottom: 0px;
  color: #0f3a4a;
  transition: all 500ms ease;
}

h2{
  font-size: 44px;
  line-height: 52px;
  font-weight: 700;
}
h3{
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
}


h3 a{
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
}
h4 a{
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}
h5 a{
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

h3 a:hover,
h4 a:hover{
  color: #cda274;
}

.title-header {
    position: relative;
    font-size: 44px;
    font-family: 'Playfair Display', serif;
    line-height: 55px;
    font-weight: 700;
    color: #0f3a4a;
    padding-bottom: 14px;
    letter-spacing: 1px;
    text-align: center;
}

.title-text {
    position: relative;
    padding-bottom: 28px;
    margin-bottom: 70px;
    text-align: center;
}




/** button **/

.search-btn {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  padding: 13px 55px 13px 55px;
  background: #cda274;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  transition: all 300ms ease;
  cursor: pointer;
  text-align: center;
  z-index: 1;
}
.search-btn:hover{
  background: #cc9152;
  color: #ffffff;
}


.sec-pad{
  padding: 100px 0px 100px;
}
.sec-ptb{
  padding: 4% 0%;
}
.gray-bg{
  background: #f7f9fc;
}


/*** 

====================================================================
                        Hader Area
====================================================================

***/


/** main-header **/

.main-header{
  position:relative;
  left:0px;
  top:0px;
  z-index:999;
  width:100%;
  background: #ffffff;
  box-shadow: 0 10px 10px rgba(13, 41, 51, 0.30);
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.sticky-header{
  position:fixed;
  opacity:0;
  visibility:hidden;
  background: #ffffff;
  left:0px;
  top:0px;
  border-bottom: 1px solid #e0e0e0;
  width:100%;
  z-index:0;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.fixed-header .sticky-header{
  z-index:999;
  opacity:1;
  visibility:visible;
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/** header-top **/

.header-top {
    background: #0D2933;
    line-height: 49px;
    position: relative;
    z-index: 9;
    padding: 15px 0;
}

.header-top p,
.header-top ul,
.header-top li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-top .header-right-area ul li {
    display: inline-block;
    vertical-align: bottom;
}
.header-right-area {
    float: left;
}
.header-left-area {
    float: right;
}
.icons ul {
    display: flex;
}
.icons ul li{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 0 10px;
}
.icons ul li a{
    color: #fff;
    transition: .5s ease-in-out;
    font-size: 14px;
}

.header-top .header-right-area ul li .single-header-right-area .text-box,
.header-top .header-right-area ul li .single-header-right-area .icon-box {
    display: table-cell;
    vertical-align: middle;
}
.header-top .header-right-area ul li .single-header-right-area .icon-box {
    text-align: center;
    padding: 0 8px;
}
.header-top .header-right-area ul li .single-header-right-area .icon-box i {
    color: #cda274;
    font-size: 30px;
}
.header-top .header-right-area ul li .single-header-right-area .text-box p {
    color: #fff;
    line-height: 20px;
    font-size: 14px;
}

/** header-bottom **/


.header-bottom{
  position: relative;
  background: #ffffff;
}
.main-header .logo-box{
  position: relative;
  display: inline-block;
  margin: 19px 0px 0px 0px;
}
.main-header .menu-area{
  position: relative;
  display: inline-block;
  float: right;
}
.main-header .menu-area .link{
  position: absolute;
  top: 20px;
  right: 0px;
}
.main-header .menu-area .link:before{
  position: absolute;
  content: '';
  background: #dddee4;
  width: 1px;
  height: 30px;
  top: 10px;
  left: -41px;
}

/*** 

====================================================================
                        Main Menu area
====================================================================

***/

.main-menu{
  position: relative;
  display: block;
}
.main-menu .navbar-collapse{
  padding:0px;  
}

.main-menu .navigation{
  position:relative;
  margin:0px;
}

.main-menu .navigation > li{
  position:relative;
  float:left;
  margin: 0px 11px;
}
.main-menu .navigation > li > a{
  position:relative;
  display:block;
  font-size:17px;
  font-family: 'Open Sans', sans-serif;
  color:#0f3a4a;
  line-height:30px;
  font-weight:600;
  opacity:1;
  text-transform:capitalize;
  padding: 29px 10px 31px 10px;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.main-menu .navigation > li.current > a,
.main-menu .navigation > li > a:hover{
  color: #cda274;
}

.main-menu .navigation > li > ul{
  position:absolute;
  left:0px;
  top: 100%;
  width:250px;
  z-index:100;
  display:none;
  background:#ffffff;
  border-bottom: 3px solid #cda274;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13);
}

.main-menu .navigation > li > ul > li{
  position:relative;
  width:100%;
  padding: 7px 30px;
  background: #0d2933;
  border-bottom: 1px solid #0d2933;
  transition: all 500ms ease;
}

.main-menu .navigation > li > ul > li:last-child{
  border-bottom:none; 
}

.main-menu .navigation > li > ul > li > a{
  position:relative;
  display:block;
  font-family: 'Montserrat', sans-serif;
  padding:6px 0px;
  line-height:24px;
  font-size:15px;
  color:#ffffff;
  font-weight: 600;
  text-align:left;
  text-transform:capitalize;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}
.main-menu .navigation > li > ul > li:hover > a{
  color: #fff;
}
.main-menu .navigation > li > ul > li:hover{
  background: #cda274;
}

.main-menu .navigation > li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
}
.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
  position:absolute;
  right: 0px;
  top: 0px;
  font-size:18px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  color:#ffffff;
  width: 50px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  cursor:pointer;
  z-index:5;
  display: none;
}
.navbar-header {
  display: none;
}

/** stricky-header **/

.sticky-header .main-menu .navigation > li{
  margin: 0px;
}
.sticky-header .main-menu .navigation > li > a{
  padding: 14px 30px 16px 30px;
}
.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li:hover > a{
  background: #cda274;
  color: #ffffff;
}
.sticky-header .logo-box{
  margin-top: 11px;
}
.sticky-header .menu-area{
  padding-right: 0px;
}


/*** 

====================================================================
                        Slider area
====================================================================

***/


.main-slider {
  min-height: 100%;
}
.main-slider .container-fluid {
  padding: 0px;
}
.main-slider .slider-area {
  position: relative;
}
.main-slider .slider-area .image img {
  min-height: 700px;
  width: 100%;
  max-width: none;
}
.main-slider .slider-caption {
  position: absolute;
  left: 0;
  top:-20%;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -8px;
  z-index: 5;
}
.main-slider .slider-caption .inner-box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.main-slider .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(15, 38, 58, 0.0);
  z-index: 3;
}
.main-slider .tp-title{
      z-index: 5;
    white-space: nowrap;
    font-size: 64px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    line-height: 110px;
    margin-bottom: 28px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}
.main-slider .text{
  position: relative;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  line-height: 32px;
}

/* slide nav */

.slide-nav .owl-nav {
  padding: 0px;
  top: 45%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  transform: scale(0.97);
  transition: .5s ease;
}
.slide-nav:hover .owl-nav {
  transform: scale(1);
  opacity: 1;
}
.slide-nav .carousel-outer:hover .owl-nav .owl-next,
.slide-nav .carousel-outer:hover .owl-nav .owl-prev {
  opacity: 1;
  visibility: visible;
}
.slide-nav .owl-nav .owl-prev {
  left: 30px;
  float:  left;
}
.slide-nav .owl-nav .owl-next {
  right: 30px;
  float:  right;
}

.slide-nav .owl-dots{
  display: none !important;
}

/* slide animation */
.main-slider .owl-item .slider-caption * {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.main-slider .owl-item.active .slider-caption .tp-title {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.main-slider .owl-item.active .slider-caption .text {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*** 

====================================================================
                        Search area
====================================================================

***/

.search-area{
  position: relative;
}
.search-area .search-form{
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 35px 15px;
  box-shadow: 0 15px 30px rgba(225, 230, 235, 0.50);
  margin-top: -80px;
  z-index: 1;
}
.search-area .search-form .single-search{
  position: relative;
  display: inline-block;
  width: 20%;
  float: left;
}
.search-area .search-form .single-search .form-group{
  position: relative;
  margin: 0px 10px;
}
.search-area .search-form .single-search .form-group label{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #0d2933;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 13px;
}
.search-area .search-form .single-search .form-group input,
.search-area .search-form .single-search .form-group select{
  position: relative;
  width: 100%;
  height: 60px;
  border: 1px solid #e1e6eb;
  color: #9b9fa6;
  font-size: 15px;
  margin-bottom: 0px;
  max-width: 196px;
  padding: 10px 15px 10px 30px;
  transition: all 500ms ease;
}
.search-area .search-form .single-search .form-group input[type='text']{
  cursor: pointer;
}
.search-area .search-form .single-search .form-group input:focus,
.search-area .search-form .single-search .form-group select:focus{
  border: 1px solid #cda274;
}
.search-area .search-form .single-search .form-group i{
  position: absolute;
  top: 15px;
  right: 35px;
  cursor: pointer;
  z-index: 99999;
}
.search-area .search-form .single-search .form-group .link{
  display: inline-block;
}
.search-area .search-form .single-search .link .theme-btn{
  padding: 16px 57px 14px 57px;
}
.search-area .search-form .ui-selectmenu-button .ui-icon {
  background: none;
  position: relative;
  top: 10px;
  right: 14px;
  text-indent: 0px;
  display: block;
  float: right;
}
.ui-selectmenu-button .ui-icon:before {
  font-family: 'FontAwesome';
  content: "\f107";
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  color: #989898;
  line-height: 20px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  z-index: 5;
}

/*** 

====================================================================
                        Room Section area
====================================================================

***/
.about-heading{
  font-size: 80px;
  padding:0 15%;

}
.about-heading::first-line{
  color: #CC9152;
}

.small-section{
  font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #999999;
    font-weight: 600;
}
.about-desc{
  padding:0 15%;
  margin-top: 20px;
}


.room-section{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.room-section .title-text{
  margin-bottom: 60px;
}
.room-section .single-search{
  position: relative;
  background: #ffffff;
  transition: all 500ms ease;
  margin: 50px 0px;
}
.room-section .single-search:hover{
  box-shadow: 0 15px 30px #e1e6eb;
}
.room-section .single-search .room-text-area{
  padding: 0px 0px 35px 28px;
  border: 1px solid #e1e6eb;
  border-top: none;
}
.room-section .single-search .room-text-area span{
  font-size: 30px;
  font-weight: 600;
  padding: 7px 0px;
  color: #CCA174;
  display: block;
}

.single-search .image-box{
  position: relative;
  overflow: hidden;
}
.single-search .image-box:after{
  position: absolute;
  content: '';
  background: #0D2933;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: scaleX(0.1);
  transition: all ease-in-out 0.5s;
  opacity: 0;

}
.single-search:hover .image-box:after{
  transform: scaleX(1);
  opacity: .5;
  transition: all ease-in-out 0.5s;
}
.single-search .image-box .overlay-box{
    position: absolute;
    transform: scale(2);
    left: 0;
    right: 0;
    text-align: center;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    bottom: 50%;
    z-index: 99999;
}
.single-search:hover .image-box .overlay-box{
  bottom: 45%;
  opacity: 1;
  transition: all ease-in-out 0.5s;
  transform: scale(1);

}
.single-search .image-box .overlay-box a{
    background: #0D2933;
    font-size: 20px;
    color: #ffffff;
    padding: 30px 34px;
    border-radius: 50%;
    opacity: 0.5;
    transition: all ease-in-out 0.5s;
}

.room-text-area .price span{
  position: relative;
  display: block;
  font-size: 13px;
  line-height: 26px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: #9b9fa6;
}

.room-text-area .book-now li{
  display: inline-block;
  margin-right: 16px;
}

.room-btn{
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 26px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #9b9fa6;
  border: 1px solid #e1e6eb;
  border-radius: 30px;
  padding: 12px 33px 10px 32px;
  transition: all 500ms ease;
}
.room-btn:hover{
  background: #cda274;
  border: 1px solid #cda274;
  color: #ffffff;
}

 .room-text-area .text{
  margin-bottom: 24px;
  line-height: 26px;
}



/*** 

====================================================================
                        Hotel service area
====================================================================

***/
.hotel-service {
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
    background: #fff;
    padding: 20px;
    border: 1px solid #f1f1f1;
    transition: all ease-in-out 0.5s;
    position: relative;
}

.hotel-service:hover:before {
    transform: scaleX(1);
    transition: all ease-in-out 0.5s;
    width: 100%;
}

.hotel-service:before {
    content: "";
    position: absolute;
    background: #CDA274;
    height: 100%;
    width: 0%;
    top: 0;
    display: block;
    left: 0;
    transition: all ease-in-out 0.5s;
}


.hotel-service:hover{
  box-shadow: 0 0 10px #ccc;
  transition: all ease-in-out 0.5s;
}
.hotel-service:hover .icon{
  color: #ffffff;
}
.hotel-service:hover .content h3{
  color: #ffffff;
}
.hotel-service:hover .content p{
  color: #ffffff;

}

.hotel-service .icon {
    font-size: 40px;
    width: 46px;
    color: #CDA274;
    line-height: 40px;
    padding-top: 5px;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px dotted #CDA274;
    margin-bottom: 15px;
}

/*** 

====================================================================
                        Counter up area
====================================================================

***/

.counter-up .overlay {
  background-color: rgba(13, 71, 161, 0.5); }
.counter-up .section-padding {
  padding: 8.65em 0; }
.counter-up .item .item-icon {
  color: #fff;
  font-size: 3.43em;
  margin-top: 7px; }
.counter-up .item .item-details .count {
  color: #fff;
  font-size: 40px;
  font-weight: 300; }
.counter-up .item .item-details .item-title {
  color: #fff;
  font-size: 1em;
  margin-top: 13px;
  text-transform: uppercase; }

.counter-up-02 {
  max-width: 1140px;
  margin: 0 auto; }
  .counter-up-02 .section-padding {
    padding-left: 2.8125em;
    padding-right: 2.1825em; }
  .counter-up-02 .container {
    max-width: 100%;
    min-width: inherit; }



/*** 

====================================================================
                        Hotel Extra Service area
====================================================================

***/


.offer-service .item {
    padding: 0;
}
.offer-service .post {
    float: left;
}
.offer-service .inner {
    position: relative;
    overflow: hidden;
}
.offer-service .inner:hover .thumbnail:before {
    background: rgba(2,6,21,.65);
}
.offer-service .thumbnail:before {
    content: '';
    background: rgba(2,6,21,.35);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
    z-index: 1;
}
.offer-service .item .content {
    transform: translateY(60px);
}
.offer-service .content .summary {
    font-size: 15px;
    line-height: 24px;
    max-height: 72px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    margin: 10px 0 0;
    transition: all .7s;
}

.offer-service .content .title a:hover {
    color: #CDA274;
}
.offer-service .content .title {
    margin-bottom: 0;
    margin-top: 6px;
    font-family: 'Playfair display', serif;

}
.offer-service .item .content .title a {
    font-size: 20px;
    font-family: 'Playfair display', serif;
}
.offer-service .item .content .title {
    font-size: 20px;
    line-height: 26px;
}
.offer-service .content .title a {
    font-size: 26px;
    color: #fff;
}

.offer-service .content {
    width: 100%;
    padding: 20px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 2;
    transition: all .5s;
    transform: translateY(82px);
}
.offer-service .inner:hover .content .summary {
    opacity: 1;
    visibility: visible;
}
.offer-service .inner:hover .content {
     transform: translateY(0) !important;
}
.offer-service .item .post {
    margin-bottom: 30px;
}

.offer-service .item .inner {
    height: 400px;
}
.offer-service .thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.offer-service .thumbnail {
    height: inherit;
}

/*** 

====================================================================
                        Video Section area
====================================================================

***/

.video-section{
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 158px 0px 173px 0px;
}
.video-section:before{
  position: absolute;
  content: '';
  background: rgba(15, 58, 74, 0.10);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.video-gallery{
  position: relative;
  display: block;
  text-align: center;
}
.video-gallery .overlay-gallery .icon-holder .icon{
  position: relative;
}
.video-gallery .overlay-gallery .icon-holder .icon i:before{
  margin: 0px;
  color: #ffffff;
  font-size: 30px;
}
.video-gallery .overlay-gallery .icon-holder .icon a{
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 66px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}
.video-gallery .overlay-gallery .icon-holder .icon a:hover{
  border: 3px solid #cda274;
  background: #cda274;
}
.video-section .title{
  position: relative;
  display: block;
  font-size: 80px;
  line-height: 90px;
  font-family: 'Playfair Display', sans-serif;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 59px;
}


/*** 

====================================================================
                        Testimonial area start
====================================================================

***/
.testimonial .name {
  color: #37474f;
  font-size: 1em;
  padding-right: 8px;
  position: relative;
  text-transform: uppercase;

   }
  .testimonial .name a {
    color: #37474f; }
  .testimonial .name:before {
    content: '';
    background-color: #37474f;
    height: 2px;
    width: 5px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px; }
.testimonial .designation {
  color: #90a4ae;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: capitalize; }
.testimonial .title {
  color: #0f3a4a;
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  margin: 13px 0;
  width: 100%; 
  font-family: 'Playfair Display', sans-serif;
}
.testimonial .testimonial-slider {
  padding: 0 15% 2.7em; 
}
  .testimonial .testimonial-slider .media {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 320px;
    margin: 0 auto 3em; 

  }
    .testimonial .testimonial-slider .media img {
      float: left;
      max-width: 90px; 
    }
    .testimonial .testimonial-slider .media .media-body {
      text-align: left;
       }
    .testimonial .testimonial-slider .media .name {
      display: inline-block;
       }
  .testimonial .testimonial-slider .carousel-indicators {
    bottom: 0;
    margin: 0 !important;
     }
    .testimonial .testimonial-slider .carousel-indicators li {

      border: 1px solid #CDA274;
      border-radius: 5em;
      -webkit-box-shadow: none;
              box-shadow: none;
      cursor: pointer;
      height: 12px;
      width: 12px; 
    }
      .testimonial .testimonial-slider .carousel-indicators li.active {
        background-color: #CDA274; 
      }
  .testimonial .testimonial-slider a[class*="control"] {
    background-color: #CDA274;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.125em;
    height: 35px;
    line-height: 35px;
    width: 35px;
    opacity: 1;
    top: 65%;
    margin-top: -17.5px; 
    opacity: 0;
    transition: all ease-in-out 0.5s;
  }

  .testimonial .testimonial-slider:hover a[class*="control"]{
    opacity: 1;

  }
.testimonial.gray-bg .carousel-indicators li {
  border: 1px solid #b0bec5; }
.testimonial.gray-bg a[class*="control"] {
  border: 1px solid #b0bec5;
  border-radius: 5px; }
.testimonial .icon-arrow-left,
.testimonial .icon-arrow-right {
  line-height: 13px;
  margin-top: -4px; }
  .testimonial .icon-arrow-left:before,
  .testimonial .icon-arrow-right:before {
    font-size: 10px;
    text-shadow: 0px 1px 1px #2d2d2e; 
  }


/*** 

====================================================================
                        Blog area start
====================================================================

***/
  .blog-area{
    padding-bottom: 120px;
    padding-top: 120px;
  }
  
  .blog-post {
    background-color: #fff;
  }
  .blog-details {
    padding: 5px 15px;
    font-family: 'Playfair Display', serif;
  }
 
  
  .blog-title > h3 {
    font-family: 'Playfair Display', serif;
    margin-top: 15px;
  }
  .blog-btn {
    font-family: "Montserrat",sans-serif;
    padding-bottom: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .blog-btn:hover {
    color: #CDA274;
  }
  .post-by{
    display: inline-block;
    padding-right:5px;
  }
  .blog-content{
    margin: 10px 0px;
  }


/*** 

====================================================================
                        footer area start
====================================================================

***/




footer {
    background-color: #0D2933;
    color: #84868d;
}




footer#footer-area .footer {
   padding: 45px 0;
    font-size: 14px;
}

.footer a {
    color: #84868d;
}

footer#footer-area .footer ul li {
    line-height: 38px;
}


ul.list-social li a:hover {
    text-decoration: underline;
}

footer#footer-area .widget-title {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 18px;
    text-transform: capitalize;
}

.contact-main {
    line-height: 26px;
    padding-top: 0;
    padding-right: 70px;
}

.contact-main p {
    margin-bottom: 17px;
}

.contact-main ul.info i {
    width: 25px;
    display: inline-block;
    font-size: 15px;
}

.contact-main img {
    margin-bottom: 30px;
}

.contact-area{}
.contact-area li{
  position: relative;
  float: left;
  padding: 10px 10px;

}
.contact-area li a{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #b2b3ba;
}
.contact-area i{
  padding-right: 8px;
  color: #cda274;
}
.contact-area li a:hover{
  color: #cda274;
}
.hotline{
  background: #0D2933;
  padding: 12% 0%;
  margin-bottom: 15px;
}
.hotline h5{
  color: #ffffff;
}
.address{
  padding: 12% 10%;
}

.footer ul.menu li:hover {
    -webkit-transform: translate(10px,0);
    -moz-transform: translate(10px,0);
    -ms-transform: translate(10px,0);
    -o-transform: translate(10px,0);
}

footer ul.menu li {
    -webkit-transition: all .5s cubic-bezier(.215,.61,.355,1);
    -khtml-transition: all .5s cubic-bezier(.215,.61,.355,1);
    -moz-transition: all .5s cubic-bezier(.215,.61,.355,1);
    -ms-transition: all .5s cubic-bezier(.215,.61,.355,1);
    -o-transition: all .5s cubic-bezier(.215,.61,.355,1);
    transition: all .5s cubic-bezier(.215,.61,.355,1);
}

ul.list-social li a.facebook {
    color: #3b5998 !important;
}

ul.list-social li a.twitter {
    color: #1da1f2 !important;
}
ul.list-social li a.instagram {
    color: #c13584 !important;
}
ul.list-social li a.youtube {
    color: #cd201f !important;
}
ul.list-social li a.google {
    color: #dd4b39 !important;
}


.copyright {
    text-align: center;
    font-size: 13px;
}
.copyright-text {
    padding: 25px 0;
    border-top: 1px solid #131729;
}

.copyright-text a {
    color: var(--primary-color-1);
}

.copyright-text a:hover {
    text-decoration: underline;
}



/*** 

====================================================================
                        Room List view area
====================================================================

***/


.custom-search-area {
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-top: 15px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3)
}

.custom-search-area input {
    border: 0;
    height: 50px;
    padding-left: 15px;
    border-right: 1px solid #d2d8dd;
    font-weight: 500;
    width: 100%;
}



.custom-search-area input:focus {
    box-shadow: none;
    border-right: 1px solid #d2d8dd
}

.custom-search-area .nice-select .current {
    font-weight: 500;
    color: #6f787f
}

.custom-search-area .form-group {
    margin: 0
}

.custom-search-area i {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
    font-size: 1.125rem;
    position: absolute;
    background-color: #fff;
    line-height: 50px;
    top: 0;
    right: 1px;
    padding-right: 15px;
    display: block;
    width: 20px;
    box-sizing: content-box;
    height: 50px;
    z-index: 9;
    color: #999
}

@media (max-width:991px) {
    .custom-search-area input:focus {
        border-right: none
    }
    .custom-search-area .form-group {
        margin-bottom: 5px
    }
    .custom-search-area i {
        padding-right: 10px
    }
}

.custom-search-area input[type=submit] {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-size: .875rem;
    border: 0;
    padding: 0 25px;
    height: 50px;
    cursor: pointer;
    outline: 0;
    width: 100%;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background-color: #cda274;
    margin-right: -1px;
    font-family: 'Open Sans', sans-serif;
}



.custom-search-area input[type=submit]:hover {
  background: #cc9152;
  color: #ffffff;
}

.custom-search-area.inner {
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1)
}

@media (max-width:991px) {
    .custom-search-area.inner {
        margin: 0 0 20px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
}

.custom-search-area.inner-2 {
    margin: 0 0 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: 0 0
}

.custom-search-area.inner-2 .form-group {
    margin-bottom: 10px
}

.custom-search-area.inner-2 input {
    border: 1px solid #ededed
}

.custom-search-area.inner-2 input[type=submit] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px
}

.custom-search-area.inner-2 i {
    padding-right: 10px;
    line-height: 48px;
    height: 48px;
    top: 1px
}

.custom-search-area.inner-2 .nice-select {
    border: 1px solid #ededed
}

/*** 

====================================================================
                        Room Details area
====================================================================

***/

.hero_in {
    background: url(../images/background/1.jpg);
    width: 100%;
    height: 304px;
    background-size: cover;
    background-position: center;
}
.hero_in .hero_beadcumb{
  font-weight: bold;
  color: #0D2933;
  margin: 0 .1%;
}
.hero_in .current-page{
  color: #CDA274;
}

.room-list {
    background-color: #fff;
    display: block;
    position: relative;
    margin: 0 15px 30px;
    min-height: 310px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    transition:all 500ms ease;
}


.room-list figure {
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    transition:all 500ms ease;
}


.room-list figure img{
  height: 100%;
  min-height: 344px;
  transition:all 500ms ease;
}
.room-list:hover figure img{
  transform: scale(1.2);
  background: #222;
}


.room-list .wrapper {
    padding: 30px 30px 20px;
    min-height: 245px
}


.room-list .wrapper h3 {
    font-family: 'Playfair Display', serif;
}


.room-list ul {
    padding: 5px 17px;
    border-top: 1px solid #ededed;
    margin-bottom: 0
}

.room-list ul li {
    display: inline-block;
    margin-right: 15px
}

.room-list ul li .score {
    margin-top: -10px
}


.hero-header{
  padding: 69px 0px;
  font-weight: bold;
}

.room-details {
    background: #fff;
    border-bottom: 1px solid #ededed;
    padding: 15px 0;
}


.room-details ul li a {
    color: rgba(0, 0, 0, .5);
    font-family: 'Montserrat', sans-serif;
}

.room-details ul li {
    display: inline-block;
    margin-right: 20px;
    font-weight: 500;
    font-size: 16px;
    font-size: 1rem
}


.room-details ul li a:hover {
    color: #CCA174;
}

.room-details ul li a.active {
    color: rgba(0, 0, 0, .9);
}

.room-details ul li:last-child {
    display: none;
}


#room-description h2{
  font-size: 25px;
  font-family: 'Playfair Display', serif;
}
#room-description p{
  padding: 25px 0px; 
  font-family: 'Montserrat', sans-serif;
}

.room-details-amenites li{
  font-family: 'Montserrat', sans-serif;
}

.room-details-amenites li i{
  color: #CDA274;
  padding-right: 15px;
}
.room-img-title{
  font-size: 25px;
}

.room-details-img >img{
  min-height: 50px;
}

.reviews-area .review-main {
    position: relative;
    margin-bottom: 25px;
    padding-left: 100px;
    min-height: 100px
}

.reviews-area .rev-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden
}

.reviews-area .rev-img img {
    width: 80px;
    height: auto
}


.reviews-area .rev-content {
    position: relative;
    padding: 25px 25px 0;
    border: 1px solid #ededed;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px
}

.reviews-area .rev-info {
    font-size: 12px;
    font-size: .75rem;
    font-style: italic;
    color: #777;
    margin-bottom: 10px
}



.booking-area {
    padding: 0px 25px 15px;
    border: 1px solid #ededed;
    background-color: #f8f8f8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-top: 27%;
    border: 1px solid #0D2933;
}

.booking-area .price {
    line-height: 1;
    border-bottom: 1px solid #ededed;
    margin: 0 -25px 25px;
    padding: 0 25px 15px;
    background: #0D2933;
    border-radius:5px 5px 0px 0px;
}

.booking-area .price>span {
    font-size: 31px;
    font-weight: 600;
    color:#CDA274;
}

.booking-area .price>span>small {
    font-size: 25px;
    font-weight: 600;
    /*color: #0F3A4A;*/
    margin-top: 5%;
    display: inline-block;
}
.booking-area .score{
  float: right;
}
.booking-area .score strong{
    background:#CCA174;
    color:#ffffff;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5%;
    margin-top: 10%;
    display: inline-block;
}

.booking-area input{
  margin: 4% 0%;
  padding: 3% 2%;
  font-size: 14px;
  font-weight: 600;
}

.booking-area select{
  margin: 4% 0%;
  padding: 7% 2%;
}


.hotel_facilities {
    list-style: none;
    margin: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

}

.hotel_facilities li {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%
}

.hotel_facilities li img {
    margin-right: 10px
}
.hotel_facilities li i{
  color: #CC9152;
}

/*** 

====================================================================
                        About Us area start
====================================================================

***/

.about_area_text h2{
  font-family: 'Lora', serif;
  color: #ffffff;
}
.about_area_text ul li{
  display: inline-block;
  padding-left: 10px;
  position: relative;
}
.about_area_text ul li a{
  color: #ffffff;
  font-weight: 700;
}
.about_area_text ul li i{
  color: #ffffff;
  font-weight: 700;
  margin-left: 10px;
}
.about_us_area{
  border-bottom: 1px solid #edecec;
}
.about-img{
  margin-top: 85px;
  background: #F7F5F6;
  padding: 10px;
  border: 1px solid #90a4ae;
}

.about_us_text h1{
  font-size: 30px;
}
.about_us_text h1::first-letter{
  font-size: 200%;
  color: #CDA274;
}
.about_service_area{
  border: 2px solid #edecec;
}
.about_single_service{
  padding: 20px;
  margin-bottom: 17px;
  text-align: center;
  /*box-shadow: 2px 1px 5px 1px #888;*/
  border: 1px solid #edecec;


}
.about_single_service i{
  display: block;
  font-size: 36px;
  color: #FE4CAA;
}
.about_single_service span{
  font-size: 20px;
  padding-top: 20px;
  display: inline-block;
  color: #37474f;
}
.team_title{}
.team_title h2{
  margin-bottom: 50px;
}
.team_member{
  border: 3px solid #edecec;
}
.team_text{
  padding: 15px 0px;
}
.team_text h3{
  font-size: 18px;
}
.team_text span{}


/*** 

====================================================================
                        Blog Details area
====================================================================

***/
.blog-details-page .blog-details b {
    float: right;
    font-weight: 400;
}
.blog-details-page .blog-details b span {
    padding-left: 10px;
}
.resent-sidebar ul{
  margin: 10px 0px;
}
.resent-sidebar ul li{
  padding: 0 8%;
  margin:2% 1%;
  border: 
  color: #ffffff;
  border: 1px solid #f1f1f1;

}
.popular-text h4{
  font-family: 'Playfair Display', serif;
}
.popular-text span i{
  color: #CCA174;
}
.blog-popular-area{
  padding: 1% 0%;
  margin: 1% 0%;
  box-shadow: 5px 15px 30px rgba(225, 230, 235, 0.4);
}

.blog-popular-area:hover{
  box-shadow: 5px 15px 30px rgba(225, 230, 235, 0.70);
}

/*** 

====================================================================
                        Checkout area
====================================================================

***/


.checkout .title-checkout {
  
  font-weight: bold;
  
  font-size: 16px;
  
  color: #222;
  
  text-transform: uppercase;
  
  border-bottom: 1px solid #e6e6e6;
  
  padding-bottom: 15px;
  
  margin-bottom: 25px;
  
}
.checkout .form-group {
  
  margin-bottom: 22px;
  
}
.checkout .form-group .title {
  
  color: #555;
  font-weight: bold;
  
}
.checkout .form-group .inline {
  
  color: #555;
  
  font-size: 14px;
  
  font-weight: 500;
  
}


.checkout .form-group.shipping .inline {
  
  margin-right: 28px;
  
  margin-bottom: 32px;
  
}
.checkout .form-group.shipping li {
  
  display: inline-block;
  
}
.checkout .form-group.shipping li:last-child .inline {
  
  margin-right: 0;
  
}

.checkout .form-group.payment p:nth-child(3) {
  
  border-bottom: 1px solid #e6e6e6;
  
  padding-bottom: 10px;
  
  margin-bottom: 18px;
  
}
.checkout .form-group.shipping .title-checkout {
  
  margin-bottom: 18px;
  
}
.checkout .form-group.payment .title-checkout {
  margin-bottom: 14px;
}
.checkout .form-group.shipping .discount {
  
  font-size: 16px;
  
  font-weight: bold;
  
  color: #333;
  
  border-bottom: 1px solid #e6e6e6;
  
  padding: 33px 0 6px 0;
  
  margin-bottom: 19px;
  
}
.checkout .form-group.shipping .title {
  
  color: #666;
  
  font-weight: normal;
  
}
.checkout .form-group.shipping .form-control {
  
  width: 300px;
  
}
.checkout .form-group.shipping button,
.checkout .form-group.payment button {
  
  font-weight: 500;
  
  padding: 7px 35px;
  
  margin-top: 15px;
  
  display: block;
  
}
.checkout .form-group.payment {
  
  margin-top: 13px;
  
}
.checkout .form-group.payment .inline {
  
  display: block;
  
  font-weight: 500;
  
  color: #333;
  
  font-size: 14px;
  
}
.checkout .form-group.payment li {
  list-style: none;
}
.checkout .form-group.payment .credit {
  
  font-size: 14px;
  
  color: #666;
  
}
.checkout .grand-total {
  
  font-size: 16px;
  
  font-weight: bold;
  
  color: #333;
  
  margin: 13px 0 6px 0;
  
  display: inline-block;
  
}
.checkout .grand-total span {
  
  margin-left: 43px;
  
}
.site-main.checkout + .footer-opt-2 .footer-top {
  
  margin-top: 15px;
  
}
label.inline {
  
  position: relative;
  
  padding-left: 30px;
  
}
.inline .input {
  
  width: 20px;
  
  height: 20px;
  
  display: inline-block;
  
  border: 1px solid #e6e6e6;
  
  margin-right: 8px;
  
  background: #f9f9f9;
  
  position: absolute;
  
  left: 0;
  
  top: 4px;
  
}
.inline .input:before {
  
  content: "\f00c";
  
  font-family: 'FontAwesome';
  
  font-size: 10px;
  
  color: #fff;
  
  line-height: 18px;
  
  display: none;
  
  text-align: center;
  
}
.inline input:checked ~ .input {
  
  background-color: #CBA173;
  
  border: 1px solid #CBA173;
  
}
.inline input:checked ~ .input:before {
  
  display: block;
  
}
.inline input {
  
  position: absolute;
  
  z-index: -1;
  
  opacity: 0;
  
}


====================================================================
                        Booking Details area
====================================================================

***/


.booking-details {
  padding: 10px;
}
.booking-details ul{
  border: 1px solid #E8EAED;
  margin: 5px 0px;
  padding: 5px 10px;
}
.booking-details ul li{
  display: inline-block;
}
.guest-address{
  border-left: 1px solid;
  height: 100%;
}
.payment-details{
  border-right: 1px solid;
}

/*creade card*/
.credit-card-box{
  padding: 25px;
  margin-top: 15px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3)
}


/* ==========================================================
! . 04. Page loader
========================================================== */
#page-loader {
  width: 100%;
  height: 100%;
  background: #0D2933;
  color: #08aeac;
  opacity: 0.99;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.loading-wrapper {
  width: 250px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -125px;
}
.tp-loader {
  z-index: 10000;
  position: relative;
}
.tp-loader.spinner {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
  animation: tp-rotateplane 1.2s infinite ease-in-out;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.loader-name {
  color: #CC9152;
  opacity: 0.9;
  text-align: center;
  font-size: 32px;
  letter-spacing: -2px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
  margin-top: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.loader-job {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 200;
  margin-top: 5px;
  color: #d8d8d8;
  font-size: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.loader-left {
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  transform: translateX(-40px);
  opacity: 0;
}
.loader-right {
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
}
.loader-up {
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  transform: translateY(-80px);
  opacity: 0!important;
}
.loader-down {
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -o-transform: translateY(80px);
  transform: translateY(80px);
  opacity: 0;
}
.loader-hide {
  opacity: 0;
}
.loader {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
.loader-animation {
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

/*** 

====================================================================
                        scroll to top
====================================================================

***/

.scroll-top {
  width: 45px;
  height: 45px;
  line-height: 45px;
  position: fixed;
  bottom: 105%;
  right: 50px;
  font-size: 16px;
  border-radius: 50%;
  z-index: 99;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background: #cda274;
  -webkit-animation: pulse 2s infinite;
  -o-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  transition: 1s ease;
}
.scroll-top.open {
  bottom: 30px;
}
.scroll-top:hover{
  background: #0d2933;
}
.scroll-top span{
  color: #fff;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}







